<div class="page-title">
  <p>NAVIGEERIMINE</p>
</div>
<h4>Muuda menüü elementi</h4>

<br>
<%= render 'form', admin_navigation: @admin_navigation %>

<%= link_to 'Loobu', admin_navigations_path, :class => 'btn btn-cancel' %>
