<div class="page-title">
  <p>NAVIGEERIMINE</p>
</div>
<%= link_to 'Lisa uus leht menüüsse', new_admin_navigation_path, :class => 'btn btn-add' %><br><br>
<h4>Menüüsse lisatud lehed</h4>
<br/>
<div class="kirjed">
    <% @admin_navigations.each do |admin_navigation| %>
      <ul class="list-group list-group-horizontal">
        <li><%= admin_navigation.name %></li>
        <li><%= link_to 'Muuda', edit_admin_navigation_path(admin_navigation) %></li>
        <li><%= link_to 'Kustuta', admin_navigation_path(admin_navigation), method: :delete, data: { confirm: 'Kas sa oled kindel, et soovid elemendi menüüst kustutada?' } %></li>
      </ul>
      
    <% end %>
</div>

<br>
