
          <div class="page-title">
              <p>TÖÖLAUD</p>
          </div>
          <h4>Otseteed</h4>
          <div class="row">
              <div class="col-sm-4">
                  <div class="card">
                      <a href="/admin/pages/new">
                      <div class="card-block">
                          <h4 class="card-title">Lisa uus leht</h4>
                      </div></a>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                    <a href="/admin/news/new">
                      <div class="card-block">
                          <h4 class="card-title">Lisa uus teade</h4>
                      </div></a>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                    <a href="/admin/homepages/1/edit">
                      <div class="card-block">
                          <h4 class="card-title">Muuda avalehte</h4>
                      </div></a>
                  </div>
              </div>
          
            <div class="col-sm-4">
                <div class="card">
                <a href="/admin/workers">
                    <div class="card-block">
                        <h4 class="card-title">Halda töötajate infot</h4>
                    </div></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                <a href="/admin/groups">
                    <div class="card-block">
                        <h4 class="card-title">Halda rühmade infot</h4>
                    </div></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                <a href="/admin/menus">
                    <div class="card-block">
                        <h4 class="card-title">Halda toidumenüüd</h4>
                    </div></a>
                </div>
            </div>
        </div>
      
      <!-- /#page-content-wrapper -->

  