<div class="page-title">
  <p>TOIDUMENÜÜ</p>
</div>

<h4>Päevamenüüd</h4>

<br>
<div class="kirjed">
    <% @menus.each do |menu| %>
      <ul class="list-group list-group-horizontal">
        <li><%= menu.weekday %></li>
        <li><%= link_to 'Vaata', admin_menu_path(menu) %></li>
        <li><%= link_to 'Muuda', edit_admin_menu_path(menu) %></li>
      </ul>
      
    <% end %>
</div>
